.main {
  padding: 100px 0;
  text-align: center;
}
.main .title {
  line-height: 1;
}
.main input {
  height: 30px;
  display: block;
  margin-bottom: 10px;
  border: 1px solid black;
  width: 100%;
  text-indent: 10px;
}
.main input::-webkit-input-placeholder {
  color: black;
}
.main input::-moz-placeholder {
  color: black;
}
.main input:-ms-input-placeholder {
  color: black;
}
.main .btn-black {
  display: block;
  margin: 0 auto 10px;
}
.main .form {
  margin-bottom: 25px;
}
@media screen and (max-width: 767px) {
  .main {
    padding: 75px 0 25px;
  }
  .main .title {
    margin-bottom: 50px;
  }
}
