@import "ui";
.catalog {
    padding: 100px 0;
    .sort-by {
        position: relative;
        margin-left: 5px;
        margin-bottom: 15px;
        display: inline-block;
        color: @gray;
    }
    .cart {
        margin-bottom: 50px;
    }
    .items {
        display: flex;
        flex-wrap: wrap;
    }
    .ajax-load {
        text-align: center;
        margin-bottom: 15px;
        span {
            color: @gray;
            display: block;
        }
        button {
            margin-top: 10px;
            padding: 11px 31px;
            background: black;
            color: white;
            text-transform: uppercase;
        }
    }
    .filters {
        &>div {
            padding: 25px 15px;
            background-color: #f5f5f5;
            p {
                text-transform: uppercase;
                font-family: Oswald;
                text-align: center;
                margin-bottom: 35px;
            }
        }
        .category {
            padding-right: 40px;
            margin-bottom: 30px;
            p {
                margin-right: -25px;
            }
            &>ul {
                display: flex;
                flex-direction: column;
                margin-bottom: 0;
            }
            .left {
                display: inline-block;
                float: left;
                cursor: pointer;
            }
            .right {
                display: inline-flex;
                float: right;
                cursor: pointer;
            }
            .count {
                border-radius: 50%;
                .size(20px);
                background-color: white;
                font-size: 10px;
                text-align: center;
                padding-top: 4px;
                color: @gray;
            }
            .mdi {
                position: absolute;
                right: -20px;
                .transition(transform);
                &.open {
                    transform: rotate(90deg);
                }
            }
            .item {
                display: block;
                padding-left: 10px;
            }
            li {
                .item {
                    padding: 10px 14px;
                    height: 40px;
                    display: block;
                    position: relative;
                    .transition(all);
                    &:hover {
                        background: black;
                        .left {
                            color: white;
                        }
                    }
                }
            }
            .dropdown {
                display: none;
                flex-direction: column;
                li {
                    .item {
                        padding-left: 45px;
                        padding-top: 5px;
                        padding-bottom: 5px;
                        height: 30px;
                    }
                }
                .dropdown {
                    li {
                        padding-left: 50px;
                    }
                }
            }
        }
        .another {
            padding: 25px;
            p {
                margin: 25px 0;
            }
            input[type=checkbox] {
                display: none;
                +label {
                    cursor: pointer;
                    position: relative;
                }
                &+label:before {
                    cursor: pointer;
                    .size(15px);
                    border: 1px solid black;
                    content: '';
                    display: inline-block;
                    position: relative;
                    margin-right: 10px;
                    top: 3px;
                }
                &+label:after {
                    .size(9px);
                    background: black;
                    content: '';
                    display: inline-block;
                    position: absolute;
                    left: 3px;
                    top: 6px;
                    opacity: 0;
                    .transition(opacity);
                }
                &:checked+label:after {
                    opacity: 1;
                }
            }
            ul {
                display: inline-block;
            }
            li {
                margin-bottom: 2px;
            }
            .range {
                button {
                    background: black;
                    height: 30px;
                    color: white;
                    padding: 1px 11px;
                    margin: 0 auto;
                    display: block;
                    margin-bottom: 25px;
                }
                p {
                    margin-top: 25px;
                    margin-bottom: 10px;
                    font-size: 14px!important;
                    text-align: left;
                    #amount {
                        background: transparent;
                    }
                    label {
                        font-weight: normal;
                    }
                }
                .slider-range {
                    border: none;
                    background: @gray;
                }
                .ui-slider-handle,
                .ui-corner-all,
                .ui-state-default {
                    outline: none!important;
                }
                .ui-widget-header {
                    border: 1px solid black;
                }
                .ui-slider-horizontal {
                    height: 1px;
                }
                .ui-state-default,
                .ui-widget-content .ui-state-default,
                .ui-widget-header .ui-state-default,
                .ui-button,
                html .ui-button.ui-state-disabled:hover,
                html .ui-button.ui-state-disabled:active {
                    border: none;
                    background: black;
                    border-radius: 50%;
                    .size(10px);
                    cursor: pointer;
                }
            }
            .color {
                ul {
                    max-height: 175px;
                    width: 45%;
                }
            }
            .size {
                ul {
                    max-height: 120px;
                    width: 45%;
                }
            }
        }
    }
}

.single {
    padding: 100px 0;
    .item {
        margin-bottom: 90px;
        .photo {
            display: flex;
            justify-content: space-between;
            align-items: stretch;
            .miniatures {
                width: 15%;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                img {
                    cursor: pointer;
                }
            }
            .big {
                width: 83%;
                object-fit: contain;
            }
        }
        .description {
            .head {
                margin-bottom: 40px;
                &>div {
                    display: flex;
                    align-items: baseline;
                    margin-bottom: 10px;
                }
                .price {
                    font-size: 18px;
                    margin-right: 10px;
                    &.actual {
                        color: #cb1515;
                    }
                }
                .old {
                    text-decoration: line-through;
                    color: black;
                }
                .rate {
                    .answers {
                        color: @gray;
                    }
                }
            }
            .order {
                margin-top: 20px;
                label {
                    display: block;
                    font-weight: normal;
                }
                select {
                    margin-bottom: 15px;
                    .size(194px, 28px);
                    border: 1px solid black;
                }
            }
            .buy {
                input[type=number] {
                    .size(53px, 44px);
                    border: 1px solid black;
                    text-align: center;
                    margin-right: 15px;
                }
                .add {
                    padding: 8px 26px;
                    background: black;
                    color: white;
                    margin-right: 15px;
                }
                .heart {
                    height: 38px;
                    width: 42px;
                    background: url(../img/heart-outline.svg);
                    transition: background .3s ease-in-out;
                    position: relative;
                    top: 12px;
                    &.active,&:hover {
                        background: url(../img/heart.svg);
                    }
                }
            }
            .additional {
                margin: 40px 0 20px;
                span {
                    display: block;
                    color: @gray;
                    line-height: 1.6;
                    a {
                        color: black;
                    }
                }
            }
            .social {
                span {
                    display: block;
                }
                div {
                    align-items: center;
                    display: flex;
                    width: 140px;
                    position: relative;
                    top: -10px;
                }
                a {
                    font-size: 24px;
                    margin: 0 auto;
                    &:nth-child(2) {
                        font-size: 36px;
                    }
                }
            }
        }
    }
    .tabs {
        .controll {
            font-family: Oswald;
            text-transform: uppercase;
            display: flex;
            border-bottom: 1px solid #dddddd;
            margin-bottom: 0;
            li {
                padding: 0 35px 15px;
                text-align: center;
                color: #9a9a9a;
                &.active {
                    border-bottom: 1px solid black;
                    color: black;
                }
            }
        }
        #description {
            padding: 30px 0;
        }
        #options {
            padding: 30px 0;
            table {
                width: 100%;
                tr {
                    display: flex;
                    width: 100%;
                    justify-content: space-between;
                    margin-bottom: 1px;
                }
                td {
                    padding: 15px 0 15px 15px;
                    background: #f5f5f5;
                    width: 75%;
                    &:first-child {
                        width: 25%;
                        margin-right: 1px;
                    }
                }
            }
        }
        #answers {
            .items {
                padding: 30px 0 0;
            }
            .item {
                margin-bottom: -5px;
            }
            .head {
                display: flex;
                align-items: flex-start;
            }
            .avatar {
                z-index: 2;
                &-mobile {
                    display: none;
                }
            }
            .stars {
                margin-left: 15px;
                margin-right: 0;
            }
            .name {
                margin-right: 15px;
            }
            .date {
                color: @gray;
            }
            .text {
                background: #f5f5f5;
                padding: 25px 30px;
                margin: 0 40px;
                position: relative;
                top: -35px;
            }
            .form {
                p {
                    font-size: 18px;
                    text-transform: uppercase;
                    margin-bottom: 15px;
                    font-family: Oswald;
                }
                input[type=text],
                input[type=email] {
                    margin-right: 15px;
                    .size(264px, 28px);
                }
                input[type=text],
                input[type=email],
                textarea {
                    padding-left: 8px;
                    margin-bottom: 10px;
                    &::-webkit-input-placeholder {
                        color: black;
                    }
                    &::-moz-placeholder {
                        color: black;
                    }
                    &:-ms-input-placeholder {
                        color: black;
                    }
                }
                textarea {
                    width: 100%;
                    resize: none;
                    height: 70px;
                }
                .stars {
                    cursor: pointer;
                    i {
                        color: @gray;
                        &:hover {
                            color: rgba(0, 0, 0, .7)!important;
                        }
                        &.active {
                            color: black;
                        }
                    }
                }
            }
        }
    }
    .also,
    .last-seen {
        & > h3 {
            font-family: Oswald;
            font-size: 18px;
            margin-bottom: 25px;
            margin-top: 0;
            padding-left: 15px;
            text-transform: uppercase;
        }
        padding: 100px 0 0;
        
    }
}

@media screen and (max-width:1200px) {
    .single {
        .item {
            .photo {
                .miniatures {
                    justify-content: center;
                    img {
                        margin: 6px 0;
                    }
                }
            }
        }
    }
}

@media screen and (max-width:991px) {
    .single {
        padding: 50px 0;
        .title {
            margin-bottom: 50px;
        }
        .item {
            margin-bottom: 25px;
        }
        .photo {
            margin-bottom: 15px;
        }
        .description {
            text-align: center;
            .head div {
                justify-content: center;
            }
            .social div {
                width: 100%!important;
                justify-content: center!important;
                a {
                    margin: 0 5px!important;
                }
            }
        }
        .tabs {
            .controll {
                justify-content: center;
            }
            #answers {
                .form {
                    .head {
                        display: block;
                        input[type=text] {
                            display: block;
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width:767px) {
    .catalog {
        padding: 75px 0;
        .title {
            margin-bottom: 50px;
        }
        .filters {
            margin-bottom: 15px;
        }
        .cart {
            width: 320px;
            margin: 15px auto;
        }
    }
    .single {
        padding: 75px 0;
        .title {
            margin-bottom: 50px;
        }
        .item {
            .photo {
                flex-direction: column-reverse;
                .big {
                    width: 100%;
                }
                .miniatures {
                    justify-content: space-between;
                    margin-top: 5px;
                    width: 100%;
                    flex-direction: row;
                    img {
                        height: 25vw;
                    }
                }
            }
            .description {
                .buy {
                    input[type=number] {
                        display: block;
                        margin-right: 0;
                        margin: 0 auto;
                    }
                    .add {
                        margin-top: 15px;
                    }
                }
            }
        }
        .tabs {
            #options {
                overflow-x: scroll;
                table {
                    width: 500px;
                }
            }
            #answers {
                .item {
                    margin-bottom: 15px;
                    .head {
                        display: inline-flex;
                        flex-direction: column;
                        margin-bottom: 10px;
                        .name,
                        .stars,
                        .date {
                            margin: 0;
                        }
                        .stars {
                            order: 1;
                        }
                        .date {
                            order: 2;
                        }
                    }
                    .avatar {
                        display: none;
                        &-mobile {
                            display: inline-block;
                            vertical-align: top;
                            margin-right: 10px;
                        }
                    }
                }
                .text {
                    top: 0;
                    margin: 0;
                }
                .form {
                    text-align: center;
                    .head {
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        margin-bottom: 15px;
                    }
                }
            }
        }
    }
    .also,
    .last-seen{
        .cart{
            margin-bottom: 25px;
        }
    }
}
