.catalog {
  padding: 100px 0;
}
.catalog .sort-by {
  position: relative;
  margin-left: 5px;
  margin-bottom: 15px;
  display: inline-block;
  color: #9a9a9a;
}
.catalog .cart {
  margin-bottom: 50px;
}
.catalog .items {
  display: flex;
  flex-wrap: wrap;
}
.catalog .ajax-load {
  text-align: center;
  margin-bottom: 15px;
}
.catalog .ajax-load span {
  color: #9a9a9a;
  display: block;
}
.catalog .ajax-load button {
  margin-top: 10px;
  padding: 11px 31px;
  background: black;
  color: white;
  text-transform: uppercase;
}
.catalog .filters > div {
  padding: 25px 15px;
  background-color: #f5f5f5;
}
.catalog .filters > div p {
  text-transform: uppercase;
  font-family: Oswald;
  text-align: center;
  margin-bottom: 35px;
}
.catalog .filters .category {
  padding-right: 40px;
  margin-bottom: 30px;
}
.catalog .filters .category p {
  margin-right: -25px;
}
.catalog .filters .category > ul {
  display: flex;
  flex-direction: column;
  margin-bottom: 0;
}
.catalog .filters .category .left {
  display: inline-block;
  float: left;
  cursor: pointer;
}
.catalog .filters .category .right {
  display: inline-flex;
  float: right;
  cursor: pointer;
}
.catalog .filters .category .count {
  border-radius: 50%;
  height: 20px;
  width: 20px;
  background-color: white;
  font-size: 10px;
  text-align: center;
  padding-top: 4px;
  color: #9a9a9a;
}
.catalog .filters .category .mdi {
  position: absolute;
  right: -20px;
  transition: transform 0.3s ease-in-out;
}
.catalog .filters .category .mdi.open {
  transform: rotate(90deg);
}
.catalog .filters .category .item {
  display: block;
  padding-left: 10px;
}
.catalog .filters .category li .item {
  padding: 10px 14px;
  height: 40px;
  display: block;
  position: relative;
  transition: all 0.3s ease-in-out;
}
.catalog .filters .category li .item:hover {
  background: black;
}
.catalog .filters .category li .item:hover .left {
  color: white;
}
.catalog .filters .category .dropdown {
  display: none;
  flex-direction: column;
}
.catalog .filters .category .dropdown li .item {
  padding-left: 45px;
  padding-top: 5px;
  padding-bottom: 5px;
  height: 30px;
}
.catalog .filters .category .dropdown .dropdown li {
  padding-left: 50px;
}
.catalog .filters .another {
  padding: 25px;
}
.catalog .filters .another p {
  margin: 25px 0;
}
.catalog .filters .another input[type=checkbox] {
  display: none;
}
.catalog .filters .another input[type=checkbox] + label {
  cursor: pointer;
  position: relative;
}
.catalog .filters .another input[type=checkbox] + label:before {
  cursor: pointer;
  height: 15px;
  width: 15px;
  border: 1px solid black;
  content: '';
  display: inline-block;
  position: relative;
  margin-right: 10px;
  top: 3px;
}
.catalog .filters .another input[type=checkbox] + label:after {
  height: 9px;
  width: 9px;
  background: black;
  content: '';
  display: inline-block;
  position: absolute;
  left: 3px;
  top: 6px;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}
.catalog .filters .another input[type=checkbox]:checked + label:after {
  opacity: 1;
}
.catalog .filters .another ul {
  display: inline-block;
}
.catalog .filters .another li {
  margin-bottom: 2px;
}
.catalog .filters .another .range button {
  background: black;
  height: 30px;
  color: white;
  padding: 1px 11px;
  margin: 0 auto;
  display: block;
  margin-bottom: 25px;
}
.catalog .filters .another .range p {
  margin-top: 25px;
  margin-bottom: 10px;
  font-size: 14px!important;
  text-align: left;
}
.catalog .filters .another .range p #amount {
  background: transparent;
}
.catalog .filters .another .range p label {
  font-weight: normal;
}
.catalog .filters .another .range .slider-range {
  border: none;
  background: #9a9a9a;
}
.catalog .filters .another .range .ui-slider-handle,
.catalog .filters .another .range .ui-corner-all,
.catalog .filters .another .range .ui-state-default {
  outline: none!important;
}
.catalog .filters .another .range .ui-widget-header {
  border: 1px solid black;
}
.catalog .filters .another .range .ui-slider-horizontal {
  height: 1px;
}
.catalog .filters .another .range .ui-state-default,
.catalog .filters .another .range .ui-widget-content .ui-state-default,
.catalog .filters .another .range .ui-widget-header .ui-state-default,
.catalog .filters .another .range .ui-button,
.catalog .filters .another .range html .ui-button.ui-state-disabled:hover,
.catalog .filters .another .range html .ui-button.ui-state-disabled:active {
  border: none;
  background: black;
  border-radius: 50%;
  height: 10px;
  width: 10px;
  cursor: pointer;
}
.catalog .filters .another .color ul {
  max-height: 175px;
  width: 45%;
}
.catalog .filters .another .size ul {
  max-height: 120px;
  width: 45%;
}
.single {
  padding: 100px 0;
}
.single .item {
  margin-bottom: 90px;
}
.single .item .photo {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
}
.single .item .photo .miniatures {
  width: 15%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.single .item .photo .miniatures img {
  cursor: pointer;
}
.single .item .photo .big {
  width: 83%;
  object-fit: contain;
}
.single .item .description .head {
  margin-bottom: 40px;
}
.single .item .description .head > div {
  display: flex;
  align-items: baseline;
  margin-bottom: 10px;
}
.single .item .description .head .price {
  font-size: 18px;
  margin-right: 10px;
}
.single .item .description .head .price.actual {
  color: #cb1515;
}
.single .item .description .head .old {
  text-decoration: line-through;
  color: black;
}
.single .item .description .head .rate .answers {
  color: #9a9a9a;
}
.single .item .description .order {
  margin-top: 20px;
}
.single .item .description .order label {
  display: block;
  font-weight: normal;
}
.single .item .description .order select {
  margin-bottom: 15px;
  height: 28px;
  width: 194px;
  border: 1px solid black;
}
.single .item .description .buy input[type=number] {
  height: 44px;
  width: 53px;
  border: 1px solid black;
  text-align: center;
  margin-right: 15px;
}
.single .item .description .buy .add {
  padding: 8px 26px;
  background: black;
  color: white;
  margin-right: 15px;
}
.single .item .description .buy .heart {
  height: 38px;
  width: 42px;
  background: url(../img/heart-outline.svg);
  transition: background 0.3s ease-in-out;
  position: relative;
  top: 12px;
}
.single .item .description .buy .heart.active,
.single .item .description .buy .heart:hover {
  background: url(../img/heart.svg);
}
.single .item .description .additional {
  margin: 40px 0 20px;
}
.single .item .description .additional span {
  display: block;
  color: #9a9a9a;
  line-height: 1.6;
}
.single .item .description .additional span a {
  color: black;
}
.single .item .description .social span {
  display: block;
}
.single .item .description .social div {
  align-items: center;
  display: flex;
  width: 140px;
  position: relative;
  top: -10px;
}
.single .item .description .social a {
  font-size: 24px;
  margin: 0 auto;
}
.single .item .description .social a:nth-child(2) {
  font-size: 36px;
}
.single .tabs .controll {
  font-family: Oswald;
  text-transform: uppercase;
  display: flex;
  border-bottom: 1px solid #dddddd;
  margin-bottom: 0;
}
.single .tabs .controll li {
  padding: 0 35px 15px;
  text-align: center;
  color: #9a9a9a;
}
.single .tabs .controll li.active {
  border-bottom: 1px solid black;
  color: black;
}
.single .tabs #description {
  padding: 30px 0;
}
.single .tabs #options {
  padding: 30px 0;
}
.single .tabs #options table {
  width: 100%;
}
.single .tabs #options table tr {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin-bottom: 1px;
}
.single .tabs #options table td {
  padding: 15px 0 15px 15px;
  background: #f5f5f5;
  width: 75%;
}
.single .tabs #options table td:first-child {
  width: 25%;
  margin-right: 1px;
}
.single .tabs #answers .items {
  padding: 30px 0 0;
}
.single .tabs #answers .item {
  margin-bottom: -5px;
}
.single .tabs #answers .head {
  display: flex;
  align-items: flex-start;
}
.single .tabs #answers .avatar {
  z-index: 2;
}
.single .tabs #answers .avatar-mobile {
  display: none;
}
.single .tabs #answers .stars {
  margin-left: 15px;
  margin-right: 0;
}
.single .tabs #answers .name {
  margin-right: 15px;
}
.single .tabs #answers .date {
  color: #9a9a9a;
}
.single .tabs #answers .text {
  background: #f5f5f5;
  padding: 25px 30px;
  margin: 0 40px;
  position: relative;
  top: -35px;
}
.single .tabs #answers .form p {
  font-size: 18px;
  text-transform: uppercase;
  margin-bottom: 15px;
  font-family: Oswald;
}
.single .tabs #answers .form input[type=text],
.single .tabs #answers .form input[type=email] {
  margin-right: 15px;
  height: 28px;
  width: 264px;
}
.single .tabs #answers .form input[type=text],
.single .tabs #answers .form input[type=email],
.single .tabs #answers .form textarea {
  padding-left: 8px;
  margin-bottom: 10px;
}
.single .tabs #answers .form input[type=text]::-webkit-input-placeholder,
.single .tabs #answers .form input[type=email]::-webkit-input-placeholder,
.single .tabs #answers .form textarea::-webkit-input-placeholder {
  color: black;
}
.single .tabs #answers .form input[type=text]::-moz-placeholder,
.single .tabs #answers .form input[type=email]::-moz-placeholder,
.single .tabs #answers .form textarea::-moz-placeholder {
  color: black;
}
.single .tabs #answers .form input[type=text]:-ms-input-placeholder,
.single .tabs #answers .form input[type=email]:-ms-input-placeholder,
.single .tabs #answers .form textarea:-ms-input-placeholder {
  color: black;
}
.single .tabs #answers .form textarea {
  width: 100%;
  resize: none;
  height: 70px;
}
.single .tabs #answers .form .stars {
  cursor: pointer;
}
.single .tabs #answers .form .stars i {
  color: #9a9a9a;
}
.single .tabs #answers .form .stars i:hover {
  color: rgba(0, 0, 0, 0.7) !important;
}
.single .tabs #answers .form .stars i.active {
  color: black;
}
.single .also,
.single .last-seen {
  padding: 100px 0 0;
}
.single .also > h3,
.single .last-seen > h3 {
  font-family: Oswald;
  font-size: 18px;
  margin-bottom: 25px;
  margin-top: 0;
  padding-left: 15px;
  text-transform: uppercase;
}
@media screen and (max-width: 1200px) {
  .single .item .photo .miniatures {
    justify-content: center;
  }
  .single .item .photo .miniatures img {
    margin: 6px 0;
  }
}
@media screen and (max-width: 991px) {
  .single {
    padding: 50px 0;
  }
  .single .title {
    margin-bottom: 50px;
  }
  .single .item {
    margin-bottom: 25px;
  }
  .single .photo {
    margin-bottom: 15px;
  }
  .single .description {
    text-align: center;
  }
  .single .description .head div {
    justify-content: center;
  }
  .single .description .social div {
    width: 100%!important;
    justify-content: center!important;
  }
  .single .description .social div a {
    margin: 0 5px!important;
  }
  .single .tabs .controll {
    justify-content: center;
  }
  .single .tabs #answers .form .head {
    display: block;
  }
  .single .tabs #answers .form .head input[type=text] {
    display: block;
  }
}
@media screen and (max-width: 767px) {
  .catalog {
    padding: 75px 0;
  }
  .catalog .title {
    margin-bottom: 50px;
  }
  .catalog .filters {
    margin-bottom: 15px;
  }
  .catalog .cart {
    width: 320px;
    margin: 15px auto;
  }
  .single {
    padding: 75px 0;
  }
  .single .title {
    margin-bottom: 50px;
  }
  .single .item .photo {
    flex-direction: column-reverse;
  }
  .single .item .photo .big {
    width: 100%;
  }
  .single .item .photo .miniatures {
    justify-content: space-between;
    margin-top: 5px;
    width: 100%;
    flex-direction: row;
  }
  .single .item .photo .miniatures img {
    height: 25vw;
  }
  .single .item .description .buy input[type=number] {
    display: block;
    margin-right: 0;
    margin: 0 auto;
  }
  .single .item .description .buy .add {
    margin-top: 15px;
  }
  .single .tabs #options {
    overflow-x: scroll;
  }
  .single .tabs #options table {
    width: 500px;
  }
  .single .tabs #answers .item {
    margin-bottom: 15px;
  }
  .single .tabs #answers .item .head {
    display: inline-flex;
    flex-direction: column;
    margin-bottom: 10px;
  }
  .single .tabs #answers .item .head .name,
  .single .tabs #answers .item .head .stars,
  .single .tabs #answers .item .head .date {
    margin: 0;
  }
  .single .tabs #answers .item .head .stars {
    order: 1;
  }
  .single .tabs #answers .item .head .date {
    order: 2;
  }
  .single .tabs #answers .item .avatar {
    display: none;
  }
  .single .tabs #answers .item .avatar-mobile {
    display: inline-block;
    vertical-align: top;
    margin-right: 10px;
  }
  .single .tabs #answers .text {
    top: 0;
    margin: 0;
  }
  .single .tabs #answers .form {
    text-align: center;
  }
  .single .tabs #answers .form .head {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 15px;
  }
  .also .cart,
  .last-seen .cart {
    margin-bottom: 25px;
  }
}
